Model is valid: {{v-get foo 'isValid'}}

{{#each (v-get foo 'messages') as |message|}}
  <div>{{message}}</div>
{{/each}}

<div>
  <button onclick={{action 'setQux' foo}}>Set the foo.belongsTo('qux')</button>
</div>

<div>
  <button onclick={{action 'addBar' foo}}>Add a foo.hasMany('bar')</button>
</div>

{{outlet}}
